# Database Configuration
MYSQL_ROOT_PASSWORD=your_mysql_root_password
MYSQL_DATABASE=your_database_name

# Spring Datasource Configuration
SPRING_DATASOURCE_URL=jdbc:mysql://localhost:3307/your_database_name?useSSL=false
SPRING_DATASOURCE_USERNAME=your_db_username
SPRING_DATASOURCE_PASSWORD=your_db_password

# Server Configuration
SERVER_PORT=8080